[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Django = "*"
"psycopg2-binary" = "*"
gunicorn = "*"
openpyxl = "*"
pandas = "*"
rest_framework = "*"
pyexcel_xlsx = "*"
jxmlease = "*"
requests = "*"


[dev-packages]

tox = "*"
ipython = "*"


[requires]

python_version = "3"
